* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    font-family: "Amiri";
    direction: rtl;

}

@font-face {
    src: url(../fonts/Amiri-Regular.ttf);
    font-family: "Amiri";
}


.page__holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 100vh 150vh repeat(2, 130vh) 50vh;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

nav {
    grid-area: 1 / 1 / 2 / 2;
    background-color: green;
}

.hero {
    grid-area: 2 / 1 / 3 / 2;
    background-color: black;
}

.main {
    grid-area: 3 / 1 / 4 / 2;
    background-color: aqua;
}

.services {
    grid-area: 4 / 1 / 5 / 2;

}

.signup {
    grid-area: 5 / 1 / 6 / 2;
    background-color: chartreuse;
}

.footer {
    grid-area: 6 / 1 / 7 / 2;
    background-color: coral;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* required */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    margin: 0 auto;
    font-size: 1.3rem;
}

.navbar__item {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.navbar__logolink {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar__menu {
    display: flex;
    align-items: center;
}

.navbar__item:nth-child(1) {
    padding: 0 30px;
}

.navbar__item {
    padding: 0 0 0 30px;
}

.navbar__button {
    background: black;
    padding: 10px;
    border-radius: 8px;
    list-style-type: none;
    transition: all 350ms ease;
}

.navbar__button .navbar__links {
    color: white;
}
.navbar__button:hover{
    transition: all 350ms ease;
}
/*hero section*/

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin: 0 auto;
    max-width: 1300px;
}

.hero__heading {
    font-size: 85px;
    color: white;

}

.hero__descrip {
    color: white;
    margin-bottom: 30px;
    font-size: 50px;
}

.main__btn , .services__btn {
    padding: 10px 35px;
    font-size: 1.8rem;
    border-radius: 10px;
    border: white solid 5px;

    background: linear-gradient(90deg, transparent 50%, white 50%);
    background-size: 400px 80px;
    transition: all 350ms ease;
    color: white;
}

.main__btn:hover , .services__btn:hover {
    background-position: 200px;
    color: black;
    cursor: pointer;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: white;
}

.highlight {
    border-bottom: 4px solid black;
}


/*main__section*/
.main {
    background-color: black;
    color: white;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 85px;
}

.main__content h2 {

    font-size: 50px;
}

.main__content p {
    margin: 30px auto;
    font-size: 35px;
}

.main__img--container {
    margin: 10px;
    height: 400px;
    width: 400px;
    border-radius: 4px;
    background: url(../imgs/1.jpg);
    background-size: cover;
    transition: all 350ms ease;
    box-shadow: 1px 1px 15px 1px white;
    
}
.main__img--container:hover{
    transform: scale(1.075);
    cursor: pointer;
    transition: all 350ms ease;
}
/* services section */
.services{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
  
}
.services h1{
    font-size: 85px;
}
.services__wrapper{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width:100%;
    max-width: 1300px;
    color: black;
}
.services__card{
    border-radius:4px;
    height:60vh;
    width:20%;
    transition: all 350ms ease;
    
}
.services__card:hover{
    transform: scale(1.075);
    transition: all 360ms ease;
}
.services__card:nth-child(1){
    background: url(../imgs/gl.jpg); 
    background-size:cover;
    box-shadow: 1px 1px 15px 1px #b6c9e0;
}
.services__card:nth-child(2){
    background: url(../imgs/co.jpg); 
    background-size:cover;
    box-shadow: 1px 1px 15px 1px #e5834b;
}
.services__card:nth-child(3){
    background: url(../imgs/ba.jpg);
    background-size:cover;
    box-shadow: 1px 1px 15px 1px #d7b291; 
}
.services__card:nth-child(4){
    background: url(../imgs/wo.jpg); 
    background-size:cover;
    box-shadow: 1px 1px 15px 1px #ba8249;
}
.overlay{
    width:100%;
    height: 100%;
    background-color:rgba(40, 40, 40, 0.3);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color:white
}
.services__btn{
    padding:5px 20px;
    font-size:18px;
    margin-top:20px;
}
.services h1{
    margin-bottom:30px;
}
.services__wrapper p{
    margin-top:10px;
}
@media screen and (max-width:960px) {
    .page__holder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 100vh repeat(3, 150vh) 50vh;
    }
    .navbar__container {
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        top: -10000;
        opacity: 0;
        transition: all 350ms ease;
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: -1;

    }

    .navbar__menu.active {
        top: 99%;
        opacity: 1;
        transition: all 350ms ease;
        height: 60vh;
        background-color: white;
        z-index: 0;
    }

    .navbar__logolink {
        padding-right: 25px;
        z-index: 1;
    }

    .navbar__button {
        width: 90%;
        margin: auto;
    }

    .mobile__toggle {
        z-index: 1;
    }

    .bar {
        width: 25px;
        background-color: black;
        height: 3px;
        margin: 5px auto;
        transition: all 350ms ease;
    }

    #mobile-menu.isactive .bar {
        transition: all 350ms ease;
    }

    #mobile-menu {
        padding: 0 25px;

    }

    #mobile-menu.isactive .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.isactive .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.isactive .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /*hero section*/
    .hero__container,
    .main__container {
        padding: 0 25px;
        overflow: hidden;
    }

    /* about section*/
    .main__container {
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }


    .main__img--container {
        width: 100%;
        height: 250px;
        margin: 50px;
    }
    /*services section*/
    .services{
        padding:0 25px;
    }
    .services__wrapper{
        flex-direction: column;
    }
    .services__card{
        width:90%;
        margin:20px 0;
    }
     /*services*/
     .services h1 {
        margin-bottom:0;
    }
}

/*tablet queres*/
@media screen and (max-width:769px) {
    .navbar__container {
        font-size: 40px;
    }

}

/*mobile queres*/
@media screen and (max-width:415px) {
    .page__holder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 100vh 150vh 310vh 150vh 50vh;
    }
    .navbar__container {
        font-size: 30px;
    }

    .navbar__logolink {
        font-size: 2.7rem;
    }

    .hero__heading,
    .main__content h1 {
        font-size: 72px;

    }

    .hero__descrip {
        font-size: 58px;
    }

    .main__btn {
        font-size: 2.1rem;
        padding: 8px 25px;
    }

    .main__content h2 {
        font-size: 36px;
    }

    .main__content p {
        font-size: 30px;
    }

    .main__img--container {
        width: 100%;
        height: 345px;
        margin: 0;
        margin-top: 100px;
    }
       /*services*/
       .services h1{
        font-size:78px;
    }
    .services h2{
        font-size:36px;
    }
    .services p,
    .services__btn{
        font-size:30px;
    }
   
}

@media screen and (max-width:376px) {
   
    .navbar__container {
        font-size: 28px;
    }

    .navbar__logolink {
        font-size: 2.6rem;
    }

    .hero__heading,
    .main__container h1 {
        font-size: 64px;

    }

    .hero__descrip {
        font-size: 51px;
    }

    .main__container {
        justify-content: center;
    }

    .main__btn {
        font-size: 2rem;
        padding: 5px 20px;
    }

    .main__content h2 {
        font-size: 32px;
    }

    .main__content p {
        font-size: 26px;
    }

    .main__img--container {
        width: 100%;
        height: 294px;
        margin: 0;
        margin-bottom: 100px;
    }
       /*services*/
       .services h1{
        font-size:70px;
    }
    .services h2{
        font-size:32px;
    }
    .services p,
    .services__btn{
        font-size:26px;
    }

}

@media screen and (max-width:361px) {
 
    .navbar__container {
        font-size: 28px;
    }

    .navbar__logolink {
        font-size: 2.5rem;
    }

    .hero__heading,
    .main__container h1 {
        font-size: 61px;

    }

    .hero__descrip {
        font-size: 48px;
    }

    .main__btn {
        font-size: 1.9rem;
        padding: 5px 20px;
    }

    .hero__descrip {
        font-size: 40px;
    }

    .main__btn {
        padding: 5px 20px;
    }

    .main__content p {
        font-size: 25px;
    }

    .main__content h2 {
        font-size: 31px;
    }
    /*services*/
    .services h1{
        font-size:70px;
    }
    .services h2{
        font-size:31px;
    }
    .services p,
    .services__btn{
        font-size:25px;
    }

}

@media screen and (max-width:321px) {
    .navbar__container {
        font-size: 25px;
    }

    .hero__heading,
    .main__content h1 {
        font-size: 54px;

    }

    .main__content h2 {
        font-size: 27px;
    }

    .main__content p {
        font-size: 22px;
    }

    .main__img--container {
        height: 250px;
    }
    /*services*/
    .services h1{
        font-size:60px;
    }
    .services h2{
        font-size:27px;
    }
    .services p,
    .services__btn{
        font-size:20px;
    }
    
    
}